.copy-01 {
  font-family: $baseFont;
  font-size: fluid-size(18px, 31px);
  font-weight: 700;
  line-height: em-size(31px, 31px);
}

.copy-02 {
  font-family: $baseFont;
  font-size: fluid-size(13px, 17px);
  font-weight: 700;
  line-height: em-size(17px, 17px);
}
