.heading-01 {
  font-family: $baseFont;
  font-size: fluid-size(46px, 54px);
  font-weight: 700;
  line-height: em-size(54px, 54px);
}

.heading-02 {
  font-family: $baseFont;
  font-size: fluid-size(32px, 37px);
  font-weight: 700;
  line-height: em-size(37px, 37px);
}
